# Chamber: DHT22 ligado no Orange Pi (172.16.12.199), lido pela rede.
# Cada sensor lê um campo ("valor") do JSON em "url". Formato: veja "Como a impressora lê o sensor" no README.
# Módulo: /usr/share/klipper/klippy/extras/temperatura_remota.py
[temperatura_remota]

[temperature_sensor Chamber_Temp]
sensor_type: temperatura_remota
url: http://172.16.12.199:8790/camara
valor: temperatura
min_temp: -10
max_temp: 100

[temperature_sensor Chamber_Humidity]
sensor_type: temperatura_remota
url: http://172.16.12.199:8790/camara
valor: umidade
min_temp: -10
max_temp: 100
